# Ignora a pasta de dependências do Node
/node_modules
/backend/node_modules

# Você também pode querer ignorar outras coisas, como:
.env
.env.production
.env.development
# arquivos temporários do Drive
.tmp.driveupload/

dist
build
echo "docs/keys" >> .gitignore
echo "**/*.key" >> .gitignore
echo "**/*.env.local" >> .gitignore
git add .gitignore
git commit -m "chore: update gitignore"
.vercel
/src/App.test.jsx